<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for creating a table of domain objects.

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        List.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:section name="main">
<!-- <h1>Listing for Exposition</h1> -->

<f:flashMessages />

<!-- <table  class="tx_expositionrdg" >
	<tr>
		<th><f:translate key="tx_expositionrdg_domain_model_exposition.nom" /></th>
		<th><f:translate key="tx_expositionrdg_domain_model_exposition.horaire" /></th>
		<th><f:translate key="tx_expositionrdg_domain_model_exposition.description" /></th>
		<th><f:translate key="tx_expositionrdg_domain_model_exposition.visuel" /></th>
		<th><f:translate key="tx_expositionrdg_domain_model_exposition.tarifs" /></th>
		<th><f:translate key="tx_expositionrdg_domain_model_exposition.datedeb" /></th>
		<th><f:translate key="tx_expositionrdg_domain_model_exposition.datefin" /></th>
		<th> </th>
		<th> </th>
	</tr>

	<f:for each="{expositions}" as="exposition">
		<tr>
			<td><f:link.action action="show" arguments="{exposition : exposition}"> {exposition.nom}</f:link.action></td>
			<td><f:link.action action="show" arguments="{exposition : exposition}"> {exposition.horaire}</f:link.action></td>
			<td><f:link.action action="show" arguments="{exposition : exposition}"> {exposition.description}</f:link.action></td>
			<td><f:link.action action="show" arguments="{exposition : exposition}"> {exposition.visuel.originalResource.name}</f:link.action></td>
			<td><f:link.action action="show" arguments="{exposition : exposition}"> {exposition.tarifs}</f:link.action></td>
			<td><f:link.action action="show" arguments="{exposition : exposition}"> {exposition.datedeb -> f:format.date()}</f:link.action></td>
			<td><f:link.action action="show" arguments="{exposition : exposition}"> {exposition.datefin -> f:format.date()}</f:link.action></td>
		</tr>
	</f:for>
</table> -->

<f:for each="{expositions}" as="exposition">
	<div class="row">
		<div class="col-sm-6 p-3">
			<img style="max-width: 100%" src="/typo3_src-7.6.28/fileadmin/user_upload/{exposition.visuel.originalResource.name}">
		</div>
		<div class="col-sm-6">
			<h1>{exposition.nom}</h1>
			<p>{exposition.description}</p>
			
			<p>Ouvert du {exposition.datedeb -> f:format.date(format: 'd / m / Y')}
				au {exposition.datefin -> f:format.date(format: 'd / m / Y')}
			</p>
			<h3 style="margin-top:1em">Horaire</h3>
			<p>{exposition.horaire}</p>
			<h3>Tarifs</h3>
			<p>{exposition.tarifs}</p>

			<h3></h3>
		</div>
	</div>
</f:for>

</f:section>
</html>