@import url('https://fonts.googleapis.com/css?family=Rajdhani:300,400,500,600');
.smae {
  font-family: "Rajdhani", sans-serif;
}
.smae h1 {
  margin-bottom: 45px;
  color: #bb9b49;
  font-weight: 400;
  position: relative;
}
.smae h1:after {
  content: "";
  position: relative;
  display: block;
  width: 50px;
  height: 1px;
  background: #bb9b49;
}
.smae .btn-info {
  border: none;
  background: #bb9b49;
  transition: all .2s;
}
.smae .btn-info:hover {
  background: #987d39;
}
.custom-list .custom-item {
  margin-bottom: 20px;
}
.custom-list .custom-item .oeuvre-picture,
.custom-list .custom-item .artist-picture {
  min-height: 350px;
  width: 100%;
  background-size: cover;
  background-position: center;
}
.custom-list .custom-item .item-legend {
  background: #323232;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
}
.custom-list .custom-item .item-legend .item-name a {
  color: #e7e7e7;
  transition: all .2s;
  font-size: 1.3em;
}
.custom-list .custom-item .item-legend .item-name a:hover {
  color: #bb9b49;
}
.custom-list .custom-item .item-legend .item-detail {
  color: #bb9b49;
  font-style: italic;
  font-size: 1em;
}
.custom-list .custom-item .item-legend .item-detail p {
  margin: 0;
}
.item-single {
  margin-bottom: 60px;
}
.item-single .item-legend .item-metas {
  font-size: 1.2em;
}
.item-single .item-legend .item-metas span {
  font-weight: 600;
}
.item-single .item-legend .item-description.artist-bio {
  margin-top: 20px;
}
.item-single .item-legend .item-description span {
  font-weight: 600;
  color: #bb9b49;
  font-size: 1.2em;
  margin-bottom: 5px;
}
.item-single .single-oeuvre-picture {
  margin-bottom: 20px;
  padding: 12px;
  border: 5px solid #bb9b49;
}
.item-single.expo-single .item-description span {
  display: block;
  margin-top: 25px;
  margin-bottom: 5px;
  font-weight: 600;
  color: #bb9b49;
  font-size: 1.2em;
}
.expo-item {
  margin-bottom: 25px;
  display: flex;
  border: 5px solid #bb9b49;
}
.expo-item .expo-visual {
  width: 30%;
  min-width: 280px;
  height: 100%;
  background-size: cover;
  background-position: center;
}
.expo-item .expo-infos {
  margin-left: 10px;
  padding: 20px;
}
.expo-item .expo-infos .expo-name {
  color: #bb9b49;
  font-size: 1.5em;
  font-weight: 500;
  margin-bottom: 10px;
}
.expo-item .expo-infos .expo-description > div span {
  font-size: 1.1em;
  font-weight: 700;
}
.expo-item .btn-info {
  margin-top: 20px;
}
.breadcrumb-section {
  margin-bottom: 0;
}
img {
  max-width: 100%;
}
.frame {
  padding: 0;
}
