<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" data-namespace-typo3-fluid="true">
<f:layout name="Default" />

This Template is responsible for displaying a single view for a domain object

If you modify this template, do not forget to change the overwrite settings
in /Configuration/ExtensionBuilder/settings.yaml:
  Resources:
    Private:
      Templates:
        Show.html: keep

Otherwise your changes will be overwritten the next time you save the extension in the extension builder

<f:flashMessages />

<f:section name="main">

<div class="smae">
  <div class="item-single">

        <h1>{artiste.nom}</h1>

        <div class="row">
          <div class="col-md-5">
            <div class="item-picture">
              <!-- <f:image maxWidth=500 image="{artiste.photo}" treatIdAsReference=1/> -->
              <img src="https://www.biography.com/.image/t_share/MTE1ODA0OTcxODExNDQwMTQx/vincent-van-gogh-9515695-3-402.jpg" alt="">
            </div>
          </div>
          <div class="col-md-7">
            <div class="item-legend">
              <!-- Artist birth and death dates -->
              <div class="item-metas">
                <div>
                  <span>Né le : </span><f:format.date format="d.m.Y">{artiste.dateNaissance}</f:format.date>
                </div>
                <!-- Check if artist has a death date -->
                <f:if condition="{artiste.dateDeces}">
                    <div>
                     <span> Mort le : </span><f:format.date format="d.m.Y">{artiste.dateDeces}</f:format.date>
                    </div>
                </f:if>
              </div>

              <div class="item-description artist-bio">
                <span>Biographie :</span>
                {artiste.biographie -> f:format.raw()}
              </div>

          </div>
          </div>
        </div>
  </div>

    <f:link.action action="list" class="btn btn-info">Retour aux artistes</f:link.action>

</div>




</f:section>
</html>
